// Specific CSS for your home-page
.container-home{
display: flex;
justify-content: space-around;
}

.banner {
  background-color: white;
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  //border-bottom: 1px solid black;
}

.banner h1 {
  margin: 0;
  color: black;
  // text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 22px;
  font-weight: bold;
  font-family: arial;
}

.banner p {
  font-family:arial;
  font-weight:lighter;
  font-size: 20px;
  color: #144C52;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// card
.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  width: 400px;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

// filter
.filterbox{
  padding-left: 100px;
  padding-right: 100px;
  background-color:white;
  border-bottom:1px solid black;
  height: 50px;
  display:flex;
  justify-content: space-between;
  p{
    color:#144C52;
    font-weight: bold;
  }
}


