// Specific CSS for your home-page
body {
  background-color:white;
}

a {
    text-decoration: none;
  }

.container-home{
display: flex;
}

.btn{
background-color:#144C52;
border:0px;

&:hover {
  color: #144C52;
  background-color: white;
}
}

.banner {
  background-position: center;
  height: 100vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  //border-bottom: 1px solid black;
}

.banner h1 {
  color: black;
  font-size: 22px;
  font-weight: bold;
}

.banner p {
  font-weight:lighter;
  font-size: 20px;
  color: #144C52;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

// // filter
// .filterbox{
//   padding-left: 100px;
//   padding-right: 100px;
//   background-color:white;
//   border-bottom:1px solid black;
//   height: 50px;
//   display:flex;
//   justify-content: space-between;
//   p{
//     color:#144C52;
//     font-weight: bold;
//   }
// }

.infos-card-ind{
  display:flex;
  justify-content:space-between;
  h5{
  color: black;
  font-size: 16px;
  }
}
.container-ind  {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;

}

.container-main {
  display: flex;
  justify-content: space-between;
  background: white;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-ind {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-ind {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-ind {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-ind {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-ind {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

h5{
  color: white;
}

h4{
  font-size:19px;
}

.form-home{
  padding-left: 20px;
  h1{
    font-size: 22px;
    padding-bottom: 20px;
  }
  form{
    margin: 130px auto;
    padding-top: 0px;
    padding: 80px;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.9);  }
  button{
    border:none;
  }
}

h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.card-result {
  background-size: cover;
  background-position: center;
  height: 280px;
  border-radius: 1px;
  box-shadow: 0 0 10px rgba(0,0,0,0.07);
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  overflow: hidden;
  margin-bottom: 20px;
}

.inner-div
{
     height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     transition: all 0.5s ease;
     background-image: url('foo.jpg');
}
.inner-div:hover
{
     transform: scale(1.2);
}

.artwork-title {
  font-size: 14px;
}

.artwork-title a {
  text-decoration: none;
  color: black;
}

.artwork-artist {
  font-size: 16px;

}

.container-header {
  margin-top: 50px;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
}

.green-style {
  color: #FF6D70;
  font-size: 16px;
}

#section-title {
  border-bottom: 2px solid #000;
  padding-bottom: 6px;
}

#big-title {
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.animation-art {
  padding-bottom: 20px;
}
