
.card-container {
  margin-top: 32px;
  background-color: white;
  height: 100%;
  padding: 20px;
  width: 100%;
  justify-content: space-between;
}

#card-left{
  padding-right: 15px;
  width: 60%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#card-right{
  margin-bottom: 20px;
  width: 35%;;
}

.show-artwork-card h1{
  font-size: 30px;
  color: #144C52;
}

.show-artwork-card h2 {
  font-size: 15px;
  font-weight: 300;
  color: #144C52;
  margin-right: 20px;
}

.show-artwork-card p {
  display: block;
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 15px;
  text-align: right;
}


.form-wrapper h2 {
  font-weight: 300;
  font-size: 20px;
  color: #144C52;
  text-align: left;
}

/* Artwork Button */

.card-btn-booking {
    border-radius: 5px;
    font-size: 16px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 30px;
    transition: all .5s;
    border: 1px solid #144C52;
    color: #144C52;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 22px;
}

.card-btn-booking:hover {
  background-color: #144C52;
  color: white;
}

.card-btn {
  color: #144C52;
  padding-left:20px;
  margin-top: 20px;
}

.card-btn:hover {
  color: #144C52;
}


.show-artwork-card span {
  font-size: 20px;
  font-weight: 300;
  color: #144C52;
  margin-right: 20px;
  font-weight: bold;
  text-align: right;
}


/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .card-artwork-image,
  .card-artwork-description {
    width: 100%;
  }

  .card-artwork-image img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}

@media (max-width: 535px) {
  .card-artwork-image img {
    width: 220px;
    top: -85px;
  }
}
