.card-index {
  overflow: hidden;
  width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  height: 300px;
  background-size: cover;
  background-position: center;
  align-items: flex-end;
}

.card-index > img {
  width: 100%;
  object-fit: cover;
}

.card-index h2 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;

}

.card-index p {
  font-size: 18px;
  margin: 0;
  color: black;

}

.infos{
 display:flex;
 justify-content: space-between;
 color: black;
 padding-left: 10px;
 padding-right: 10px;
 margin-top: 65%;
 align-items: flex-end;
 background-color:white;
}

.container{
  display:flex;
  justify-content: space-between;
}

.name {
  line-height: 0.5;
}
