// card
.card-artwork {
  margin-top:200px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.2);
  width: 400px;
}

.card-artwork > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}


.card-artwork h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-artwork p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-artwork .card-artwork-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-artwork-infos .card-artwork-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.card-booking {
  background: white;
  img {
    height: 200px;
    width: 100%;
  }
  height: 230px;
  line-height: 2px;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
}
