.login-img {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(https://2.bp.blogspot.com/-tXKI8DU4_QE/V_Kzh1Bx5jI/AAAAAAAAAoA/vCycQdtr4QASYbnqCoDw0zHi7T0tCh5tQCEw/s1600/w%25C5%2582a%25C5%259Bciwe.jpg);
  background-size: cover !important;
  height: 130vh;
}

.login-img-new {
  background-image: linear-gradient(-225deg, rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(https://2.bp.blogspot.com/-tXKI8DU4_QE/V_Kzh1Bx5jI/AAAAAAAAAoA/vCycQdtr4QASYbnqCoDw0zHi7T0tCh5tQCEw/s1600/w%25C5%2582a%25C5%259Bciwe.jpg);
  background-size: cover !important;
  height: 200vh;
}

.form-model {
  width: 700px; /* limit card width */
  margin: 50px auto; /* center card in container */
  background-color: rgba(255, 255, 255, .9);
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
  padding: 36px;
  justify-content: center;
}

.edit-login-img {
  background-image: url(https://i.pinimg.com/564x/b7/58/c2/b758c29caedf9fb486bdf745981c0f78.jpg);
  background-size: cover !important;
  height: 200vh;
}


.add-artwork-img {
  background-image: linear-gradient(rgba(0,101,168,0.4) 0%, rgba(0,36,61,0.4) 50%), url(https://2.bp.blogspot.com/-tXKI8DU4_QE/V_Kzh1Bx5jI/AAAAAAAAAoA/vCycQdtr4QASYbnqCoDw0zHi7T0tCh5tQCEw/s1600/w%25C5%2582a%25C5%259Bciwe.jpg);
  background-size: cover !important;
  height: 150vh;
}

