.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 2px solid grey;
  abbr{
    display:none;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}
.search-form-control{
  display: flex;
  width: 100px;
}

.nav-item{
  margin-right:10px;
}
