a{
    color: black;
    text-decoration: none !important;
  }
  a:hover {
    color: #3f3f3f;
    text-decoration: none !important;
  }

.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255,255,255, 0.4);;
  border-bottom: 2px solid grey;
  abbr{
  display:none;
  }
  .form-inline {
    margin-right:700px;
  }
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}
.search-form-control{
  display: flex;
  width: 100px;
}

.nav-item{
  margin-right:10px;
}

.navbar-link {
  justify-content: center;
  background-color: #144C52;
  text-decoration: none;
  margin: 0 auto;
  margin-top:5px;
  width:100px;
  color: white;
  border: 1px solid #144C52;
  &:hover{
    background-color:white;
    border: 1px solid #144C52;
    text-decoration: none;
  }
}

.nav-button {
  display: flex;
  justify-content: center;
}
